.homeContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}

.baseInput {
    background: transparent;
    height: 2.5rem;
    border: 0;
    border-bottom: 2px solid var(--gray-500);
    font-weight: bold;
    font-size: 1.125rem;
    padding: 0 0.5rem;
    color: var(--gray-100);
}

.baseInput:focus {
    box-shadow: none;
    border-color: var(--green-500);
}

.baseInput::placeholder {
    color: var(--gray-500);
}

.taskInput {
    flex: 1;
}

.taskInput::-webkit-calendar-picker-indicator {
    display: none !important;
}

.minutesAmountInput {
    width: 4rem;
}

.formContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--gray-100);
    font-size: 1.125rem;
    font-weight: bold;
    flex-wrap: wrap;
}

.countdownContainer {
    font-family: 'Roboto Mono', monospace;
    font-size: 10rem;
    line-height: 8rem;
    color: var(--gray-100);
    display: flex;
    gap: 1rem;
}

.countdownContainer span {
    background: var(--gray-700);
    padding: 2rem 1rem;
    border-radius: 8px;
}

.countdownContainer div {
    padding: 2rem 0;
    color: var(--green-500);

    width: 4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.buttonContainer {
    width: 100%;
    border: 0;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: bold;
    cursor: pointer;

    background: var(--green-500);
    color: var(--gray-100);
}

.buttonContainer:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.buttonContainer:not(:disabled):hover {
    background: var(--green-700);
}
