.homeContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}

.buttonContainer {
    width: 100%;
    border: 0;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: bold;
    cursor: pointer;

    color: var(--gray-100);
}

.buttonContainer:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.startButtonContainer {
    background: var(--green-500);
}

.startButtonContainer:not(:disabled):hover {
    background: var(--green-700);
}

.stopButtonContainer {
    background: var(--red-500);
}

.stopButtonContainer:not(:disabled):hover {
    background: var(--red-700);
}
