.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container nav {
    display: flex;
    gap: 0.5rem;
}

.container nav a {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-100);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.container nav a:hover {
    border-bottom: 3px solid var(--green-500);
}

.container nav a:active {
    color: var(--green-500--);
}
