.button {
    width: 100px;
    height: 40px;
}

.primary {
    background-color: #8284fa;
    color: #FFF
}

.secondary {
    background-color: orange
}

.danger {
    background-color: red
}

.success {
    background-color: green 
}
